<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Playing with JS</title>
</head>
<body>
    <h1>Playing with JavaScript</h1>
    <div id="playing-with-list">
        <h2>Playing with List</h2>
        <button id="playing-with-list-btn">Playing with list</button>
        <br>
        <ul class="list-elements"></ul>
        <button id="remove-some-elements-list-btn">Remove Some Elements</button>

    </div>

    <script src="../src/main.js" charset="utf-8"></script>
</body>
</html>